
/* @import url("") */

*{
    font-family: 'Courier New', Courier, monospace;
}
h1,h2,p{
    margin:0;
    padding:0;
}
p{
    margin: 10px 0;
}

.mainbox{
    width: 600px;
    margin: 30px auto;
    border: 1px solid #E7E4E4;
    padding: 30px;
    box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.46);
}
.titlebox{
    text-align: right;
}
.head-desc{
    font-size: 16px;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 28px;
    border-bottom: 1px solid #E7E4E4;
    padding-bottom: 5px;
    margin-top: 30px;
}
.about-me-text{
    font-size: 12px;
    font-weight: lighter;
    line-height: 16px;
}
.float-wrap{
    overflow: hidden;
}
.title-text{
    font-size: 18px;
    font-weight: bold;
    float: left;
}
.years-text{
    font-size: 12px;
    font-weight: bold;
    float: right;
}
.desc-text{
    font-size: 9px;
}
.example-text{
    font-size: 9px;
    padding-left: 20px;
}

footer{
    background: #000;
    text-align: center;
    color: azure;
}