:root{
    
    /*color*/

--color-green: #3a6351;
--color-white: #f2edd7;
--color-orange: #e48257;
--color-black: #393232;
--color-beige: #eeebdd;
--color-yellow:#fed049;
--color-brown:#85603f;


    /*size*/
--main-png-size: 90px;
--btn-png-size: 60px;
--food-png-size: 60px;
--font-size: 14px;
--box-shadow: 5px;

    /*space*/
--base-space: 8px;
--base-size: 8px;

    /*animation*/
--animation-duration: 0.3s;
--animation-function: ease;
}

body{
    height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--color-black);
    box-shadow: var(--base-space) var(--base-space) var(--base-space) red;
}

/* 로고 및 버튼 */

.logo{
    cursor: pointer;
    transition: transform var(--animation-duration) var(--animation-function);
}
.btn{
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0 var(--base-space);
    cursor: pointer;
    transition: transform var(--animation-duration) var(--animation-function);
}
.logo:hover,
.btn:hover{
    transform: scale(1.1);
}
.main_img{
    width: var(--main-png-size);
    height: var(--main-png-size);
}
.btn_img{
    width: var(--btn-png-size);
    height: var(--btn-png-size);
}

.colorbox{
    background-color: var(--color-black);
    padding: var(--base-space);
    margin: 0 calc(var(--base-space) * 2);
    border-radius: var(--base-space);
    color: var(--color-white);
    font-weight: bold;
}

/* 레이아웃 */

.main{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 20%;    
}
.res_container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);    
    
}
.del_container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
}
.png_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding: var(--base-space) 0;
}
.btn_container{
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    border-top: 5px solid var(--color-brown);
}
.items{
    background-color: var(--color-brown);
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    overflow-y: scroll;
    padding: 0;
    margin-top: calc(var(--base-space)*2);
}
.item{
    width: 95%;
    background-color:var(--color-beige);
    display: flex;
    justify-content: space-between;
    margin: var(--base-size);
    padding: calc(var(--base-space)*2) 0;
    border-radius: var(--base-size);
    box-shadow: 
    var(--box-shadow)
    var(--box-shadow)
    var(--box-shadow)
    var(--color-black);
}
.store_container{
    width: 60%;
    display: flex;
    align-items: center;
}
.food_box{
    display: flex;
}
.charge_container{
    width: 20%;
    display: flex;
    align-items: center;
}

/* 아이템 */

.store_container .food{
    width: var(--food-png-size);
    height: var(--food-png-size);
    margin-left: calc( var(--base-space) * 2 );
}
.store_container .food_name{
    font-size: var(--font-size);
    background-color: var(--color-brown);
    color: var(--color-white);
    border-radius: var(--base-space);
    margin-left: calc( var(--base-space) * 2 );
    padding: calc( var(--base-space) / 1.5 );
}
.store_container .store{
    font-size: calc( var(--font-size) * 2 );
    margin-left: calc( var(--base-space) * 2 );
    color: var(--color-black);
}
.charge_container .charge{
    font-size: var(--base-size);
    background-color: var(--color-black);
    color: var(--color-white);
    padding: var(--base-space);
    border-radius: var(--base-size);
}
.charge_container .fee{
    font-size: var(--font-size * 1.5);
    color: var(--color-black);
    margin: 0 calc( var(--base-space) * 2 );
}